.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border{
	border: solid 1px #282c34;
  width: 700px;
  height: 100px;
  background-color: #282c34;
  position: relative;
  bottom: 200px;
}

.p{
  font-weight: bold;
  font-size: larger;
}

.txt_1{
  width: 150px;
}

.txt_2{
  height: 50px;
  width: 330px;
  background-color: #a7d2f2;
  position: relative;
  bottom: 390px;
  margin-left: auto;
  margin-right: auto;
  line-height:50px;
}

.block_1 {
  position: relative;
  bottom: 500px;
}

.block_2 {
  position: relative;
  bottom: 465px;
}

.button{
  position: relative;
  bottom: 430px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 25px;
}
  
  .active {
    color: blue;
  }
  
  .cp_iptxt {
    position: relative;
    width: 80%;
    margin: 40px 3%;
  }
  .cp_iptxt input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 4em;
  }
  .cp_iptxt input[type='text']:focus {
    outline: none;
  }
  .ef {
    padding: 4px 0;
    border: 0;
    border-bottom: 1px solid #1b2538;
    background-color: transparent;
  }
  .ef ~ .focus_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: 0.4s;
    background-color: #da3c41;
  }
  .ef:focus ~ .focus_line,
  .cp_iptxt.ef ~ .focus_line {
    width: 100%;
    transition: 0.4s;
  }
  .ef ~ label {
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 0;
    width: 100%;
    transition: 0.3s;
    letter-spacing: 0.5px;
    color: #aaaaaa;
  }
  .ef:focus ~ label, .cp_iptxt.ef ~ label {
    font-size: 12px;
    top: -16px;
    transition: 0.3s;
    color: #da3c41;
  }

  .textbox-002 {
    width: 100%;
    height: 300px;
    padding: 8px 10px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    background: #f7f7f7;
    font-size: 1em;
    line-height: 1.5;
}

.selectbutton{
  width: 100%;
  padding: 8px 42px;
}

.postbutton{
  width: 7%;
  min-width: 50px;
  max-width: 400px;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex_test-item {
  margin-left: 565px;
}

.flex_sidemenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box8 {
  width: 40%;
  padding: 0.5em 1em;
  margin: 2em 0;
  margin-bottom: 1%;
  margin-top: 0%;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}
.box8 p {
  margin: 0; 
  padding: 0;
}

.box29 {
  width: 80%;
  margin: 2em 0;
  margin-left: auto;
  margin-right: auto;
  background: #dcefff;
}
.box29 .box-title {
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box29 p {
  padding: 15px 20px;
  margin: 0;
}

.box74{
  margin: 2em auto; /* ボックスの余白 */
  background-color: #fafafa; /* ボックス背景色 */
  padding:3em 2em 2em; /* ボックス内側余白 */
  position:relative; /* 配置(ここを基準に)*/
  border: 1px solid #5a728b;	/* ボックスの線 (太さ　種類　色)*/
  }
  .box74 .box-title {
  background-color:#5a728b; /* タイトル背景色 */
  font-size: 1em;/* タイトル文字の大きさ */
  color: #fff ; /* タイトル文字色 */
  padding: 7px 10px;/*タイトルの余白*/
  line-height: 1;/*タイトルの行の高さ*/
  position:absolute;	/* 配置(ここを動かす) */
  top: -10px; /*上から（0px）移動*/
  left: 20px; /*左から(0px)移動*/
  }